# Variáveis de ambiente para desenvolvimento
# Copie este arquivo para .env e configure as variáveis

# Url base da planilha publicada
VITE_SPREAD_SHEET_URL=

# Final da URL
VITE_FINAL_URL=&single=true&output=csv

# GID de cada página da planilha
VITE_HOME_GID=${VITE_SPREAD_SHEET_ID}ADICIONE O GID AQUI${VITE_FINAL_URL}
VITE_ROUPAS_GID=${VITE_SPREAD_SHEET_ID}ADICIONE O GID AQUI${VITE_FINAL_URL}
VITE_MARCAS_GID=${VITE_SPREAD_SHEET_ID}ADICIONE O GID AQUI${VITE_FINAL_URL}
VITE_LANDING_URL=${VITE_SPREAD_SHEET_ID}ADICIONE O GID AQUI${VITE_FINAL_URL}  
VITE_CARROUSSEL_URL=${VITE_SPREAD_SHEET_ID}ADICIONE O GID AQUI$${VITE_FINAL_URL} 
